:root {
  --bg: #ffffff;
  --text: #1f1f1f;
  --muted: #7a7a7a;
  --accent: #eef5f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: var(--bg);
  color: var(--text);
}
/* SCROLL SUAVE */
html {
  scroll-behavior: smooth;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logo {
  font-weight: 600;
}

.navbar nav a {
  margin: 0 0.8rem;
  text-decoration: none;
  color: var(--muted);
  font-size: 0.9rem;
}

/* HERO */
.hero {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 24px;
  padding: 32px 20px;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
}

/* LEFT */
.hero-left {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 14px;
}

.block-title {
  font-size: 11px;
  letter-spacing: 2px;
  color: var(--muted);
  margin-bottom: 6px;
}

.block p,
.block li {
  margin-bottom: 4px;
  line-height: 22px;
}

.block ul {
  list-style: none;
  padding-left: 0;
}

/* CENTER */
.hero-center {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-right h1 {
  text-align: right;
  font-family: 'Playfair Display', serif;
  font-size: 2.4rem;
  
}

.socials i {
  color: #9b9999; 
  font-size: 35px;
  margin: 0 20px;
  transition: color 0.3s;
}

.socials i:hover {
  color: #7a7a7a;   /* gris más oscuro al pasar el mouse */
}


.hero-right {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start; /* Alinea hacia arriba */
  padding-top: 20px;           /* Espacio desde la parte superior */
  height: 100%;                /* Asegura que ocupe toda la altura disponible */
}

.titulo-principal {
  margin-top: 0;               /* Elimina cualquier margen superior */
}

.titulo-principal p {
  font-size: 2.1rem;
  font-weight: 500;
  margin-bottom: 6px;
  font-family: 'Inter', sans-serif;
  color: var(--text);
}

.titulo-principal h1 {
  font-size: 2.2rem;
  font-family: 'Playfair Display', serif;
  color: var(--text);
  margin: 0;
}



/* RESPONSIVE */
@media (max-width: 900px) {
  .hero {
    grid-template-columns: 1fr;
    text-align: center;
  }

}

/* SECCION 2 */
.skills {
  padding: 50px 0;
}

.skills h2 {
  font-size: 32px;
  margin-bottom: 50px;
  margin-left: 30px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 30px;
  max-width: 900px;
  margin: auto;
}

.skill-card {
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 16px;
  padding: 24px;
  transition: all 0.3s ease;
}

.skill-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.08);
}

.skill-card i {
  font-size: 35px; /* prueba 40px, 56px, 64px */
}

.skill-card h4 {
  margin-bottom: 6px;
  font-size: 16px;
}

.skill-card span {
  font-size: 13px;
  color: #777;
}

.html {
  color: #e34f26;
}

.css {
  color: #1572b6;
}

.js {
  color: #f7df1e;
}

.unity {
  color: #222222;
}

.node {
  color: #3c873a;
}

.git {
  color: #f1502f;
}

.sql {
  color: #00618a;
}

.java {
  color: #007396;
}

/* LINKS */
.nav-links {
  display: flex;
  gap: 24px;
}

.nav-link {
  text-decoration: none;
  color: #777;
  font-size: 14px;
  position: relative;
  padding-bottom: 4px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #111;
}

/* LINK ACTIVO */
.nav-link.active {
  color: #111;
  font-weight: 500;
}

.nav-link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #111;
}

/* EVITA QUE EL NAV TAPE SECCIONES */
section {
  scroll-margin-top: 100px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .navbar {
    padding: 0 24px;
  }

  .nav-links {
    gap: 16px;
  }
}

.section-divider {
  width: 80%;
  height: 2px;
  background-color: #e0e0e0;
  margin: auto;
}

/*  SECCION 3 */

.educacion {
  padding: 100px 0;
}

.educacion h2 {
  font-size: 32px;
  margin-bottom: 50px;
  margin-left: 30px;
}

.educacion-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 32px;
  max-width: 900px;
  margin: auto;
}

.edu-card {
  background: #f9f9f9;
  padding: 24px;
  border-radius: 16px;
  transition: transform 0.3s ease;
}

.edu-card:hover {
  transform: translateY(-6px);
}

.edu-fecha {
  font-size: 12px;
  color: #777;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.edu-card h3 {
  font-size: 18px;
  margin: 10px 0 6px;
}

.edu-institucion {
  font-size: 14px;
  color: #555;
  margin: 0;
}